/* Reset */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Main layout using Flexbox */
.dashboard {
  display: flex;
  min-height: 100vh;
}

/* Sidebar */
.sidebar {
  background: #2e7d32;
  color: white;
  padding: 20px;
  flex: 1;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
}

/* Main content */
.main-content {
  flex: 4;
  background: #f1f8e9;
  padding: 20px;
}

/* Header inside main */
.top-header {
  margin-bottom: 20px;
}

/* Cards layout */
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Individual card */
.card {
  background: white;
  border: 1px solid #ccc;
  padding: 20px;
  flex: 1 1 200px;
  border-radius: 8px;
  text-align: center;
}

/*  Mobile View */
@media (max-width: 768px) {

  .dashboard {
    flex-direction: column;
  }

  /* Sidebar becomes top navbar */
  .sidebar {
    text-align: center;
  }

  .sidebar ul {
    display: flex;
    justify-content: space-around;
  }

  .sidebar li {
    margin: 0;
  }

  /* Cards stacked */
  .cards {
    flex-direction: column;
  }

}
