body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main box */
.container {
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 320px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/* heading */
h1 {
    margin-bottom: 20px;
}

/* input + button */
.search-box {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid gray;
}

button {
    padding: 10px 15px;
    border: none;
    background: #4facfe;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #0077ff;
}

/* weather card */
.card {
    background: #f2f2f2;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
}

.msg {
    text-align: center;
    color: gray;
}